      <q-field label="Problems" stack-label borderless v-if="Array.isArray(model.getcoreProblem) && model.getcoreProblem.length>0">
        <template v-slot:prepend><q-icon name="error" /></template>
        <template v-slot:control><div class="self-center full-width no-outline" tabindex="0">
          <q-chip v-for="problem in model.getcoreProblem" v-bind:key="problem" class="glossy" color="negative" text-color="white" icon="error">\{{ elude(problem.description, 100) }}<q-tooltip>\{{ problem.description }}</q-tooltip></q-chip>
        </div></template>
      </q-field>
      <div class="row" v-if="extra{{ short }}Columns.filter(c=>![null,undefined,''].includes(c.field(model))).length>0">
        <div :class="`col-md-${extra{{ short }}Columns.filter(c=>![null,undefined,''].includes(c.field(model))).length<4?12/extra{{ short }}Columns.filter(c=>![null,undefined,''].includes(c.field(model))).length:3}`" v-for="extra in extra{{ short }}Columns.filter(c=>![null,undefined,''].includes(c.field(model)))">
          <q-field stack-label borderless  :label="extra.label">
            <template v-slot:prepend><OpenApiNamedIcon :name="extra.name" /></template>
            <template v-slot:control><div class="self-center full-width no-outline" tabindex="0">
              <div class="self-center full-width no-outline">\{{ extra.field(model) }}</div>
            </div></template>
          </q-field>
        </div>
      </div>
