<script setup lang="ts">
import { getConditionColor, elude } from "../../libs/core/"
import { color{{ short }}, icon{{ short }} } from '../../libs/{{ group }}/custom.js'
defineProps<{model: object}>();
</script>
<template>
  <q-card bordered class="q-ma-sm" v-if="model.status != null">
    <q-card-section :class="`bg-${ color{{ short }} } text-white`">
      <div class="text-subtitle q-mt-none q-mb-none q-pt-none q-pb-none">Status</div>
    </q-card-section>
    <q-card-section  :class="`bg-${ color{{ short }} }-2`">
      <div class="q-gutter-md">
{{> vueStatusFields properties=definition.properties crd=crd }}
      </div>
    </q-card-section>
  </q-card>
</template>
