<script setup lang="ts">
import {{ short }}New from '@/queries/{{ group }}/{{ short }}.create.graphql'
import {{ group }}{{ short }}Edit from '@/components/{{ group }}/{{ short }}Edit.vue';
import MetadataNew from '@/components/core/MetadataNew.vue';
import { color{{ short }}, icon{{ short }} } from '../../../libs/{{ group }}/custom.js'
import { ref, useMutation, use{{ short }}, {{ short }}Definition, sanitizeData, getProperties } from '@/libs/{{ group }}/{{ short }}.js'
const name = ref('');
const form = ref(null);
const obj  = ref({});
{{#if namespaced}}
const { editor, router, navigation, setNamespacedItemFromRoute, notifySuccess, notifyError, notifyWorking } = use{{ short }}();setNamespacedItemFromRoute();
{{else}}
const { editor, router, navigation, setItemFromRoute, notifySuccess, notifyError, notifyWorking } = use{{ short }}();setItemFromRoute();
{{/if}}
const { mutate, onDone, onError } = useMutation({{ short }}New);
onDone(() => {
  notifySuccess('Creation proceded');
  router.go(-1);
})
onError((err) => {
  notifyError('Creation failed');
  console.log('mutation error',err);
})
function onFinalSubmit() {
  notifyWorking('Create in progress');
  mutate({
{{#if namespaced}}
    "namespace": navigation.currentNamespace.value,
{{/if}}
    "name": name.value,
{{#each writeProperties}}
    "{{this}}": sanitizeData(obj.value.{{this}}),
{{/each}}
  });
}
async function onSubmit(o:object) {
  if (form.value!=null) {
    obj.value = o;
    form.value.submit()
  } else {
    notifyError('Not ready yet');
  }
}

</script>
<template>
  <div class="row q-mb-sm q-ml-sm">
    <div class="col-md-12">
      <q-form ref="form" @submit="onFinalSubmit" class="q-gutter-md q-pt-sm q-ml-sm">
        <q-card bordered class="q-ma-sm">
          <q-card-section  :class="`bg-${ color{{ short }} } text-grey-2`">
            <div class="text-subtitle q-mt-none q-mb-none q-pt-none q-pb-none">Metadata</div>
          </q-card-section>
          <q-card-section :class="`bg-${ color{{ short }} }-1`">
            <MetadataNew v-model:name="name" :namespaced="{{namespaced}}" />
          </q-card-section>
        </q-card>
      </q-form>
    </div>
    <div class="col-md-12">
      <{{ group }}{{ short }}Edit
        :model="{}"
        @on-submit="onSubmit"
       />
    </div>
  </div>
</template>