<script setup lang="ts">
import { defineAsyncComponent } from 'vue'
import { ref, use{{ short }} } from '../../libs/{{ group }}/{{ short }}.js'
import { color{{ short }}, icon{{ short }}, extra{{ short }}Columns } from '../../libs/{{ group }}/custom.js'
import { elude, getColor, getConditionColor, timeAgo } from "../../libs/core/"
import { useQuasar } from 'quasar'
const  OpenApiNamedIcon   = defineAsyncComponent(() => import( '@/components/core/OpenApiNamedIcon.vue'));
const $q = useQuasar()
const { can, toEdit } = use{{ short }}();
defineEmits(['on-delete']);
const props = withDefaults(defineProps<{model: object, useActions?:boolean, showLink?:boolean, showLabels?:boolean, showStatus?: boolean, origin?:string}>(), {
  useActions: false,
  showLabels: false,
  showStatus: true,
  showLink: true,
});
</script>
<template>
  <q-card bordered class="q-ma-sm">
    <q-card-section :class="`bg-${ color{{ short }} } text-white`">
      <div class="text-subtitle1 q-mt-none q-mb-none q-pt-none q-pb-none">
        <q-icon :name="icon{{ short }}" class="q-mr-sm" />{{ short }}
        <q-btn-group push class="float-right text-capitalize shadow-3" v-if="useActions">
          <q-btn icon="edit" v-if="can('patch'{{#if namespaced}},props.row.metadata.namespace{{/if}})"
          @click="toEdit({{#if namespaced}}model.metadata.namespace, {{/if}}model.metadata.name)">
            <q-tooltip>\{{ $t('core.editTooltip', {short: '{{ short }}', name: model.metadata.name}) }}</q-tooltip>
          </q-btn>
          <q-btn icon="delete" @click="$emit('on-delete', model.metadata)" v-if="can('delete'{{#if namespaced}},props.row.metadata.namespace{{/if}})">
            <q-tooltip>\{{ $t('core.deleteTooltip', {short: '{{ short }}', name: model.metadata.name}) }}</q-tooltip>
          </q-btn>
        </q-btn-group>
      </div>
    </q-card-section>
    <q-card-section :class="`bg-${ color{{ short }} }-${$q.dark.isActive?'10':'2'}`">
      <div class="q-gutter-md">
{{> vueNameFields namespaced=namespaced group=group short=short }}
        <div v-if="showStatus">
{{> vueExtraFields properties=definition.properties crd=crd }}
        </div>
        <div v-if="showLabels">
{{> vueLabelFields }}
        </div>
      </div>
    </q-card-section>
  </q-card>
</template>
